<header>
  <div class="logo-container">
    <img src="/assets/images/svg/logo.svg" />
  </div>
</header>

<div class="container">
  <div class="btn-container">
    <button mat-raised-button id="btn-add" (click)="openDialog()">
      <mat-icon fontSet="material-icons">add</mat-icon>
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="dataNascimento">
      <th mat-header-cell *matHeaderCellDef>Data de nascimento</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dataNascimento | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="sexo">
      <th mat-header-cell *matHeaderCellDef>Sexo</th>
      <td mat-cell *matCellDef="let element">{{ element.sexo }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Opções</th>
      <td mat-cell *matCellDef="let element" class="action-cell">
        <span (click)="editRecord(element)">
          <mat-icon data-action="edit">edit</mat-icon>
        </span>
        <span (click)="deleteRecord(element)">
          <mat-icon data-action="delete">delete</mat-icon>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
  </table>
</div>
