.mat-dialog-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60vh;

  color: var(--dark-grey);
}

.mat-form-field {
  width: 100%;
  max-width: 50rem;
  color: var(--dark-grey);
  border-color: var(--red);
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-around;
}

#btn-save,
#btn-cancel {
  display: flex;
  justify-content: center;
  text-align: center;

  border: none;
  border-radius: 20px;

  padding: 10px 20px;
  margin-bottom: 1rem;
  width: 120px;

  background-color: var(--medium-blue);
  color: var(--light-text);
}

#btn-save:hover,
#btn-cancel:hover {
  background-color: var(--dark-blue);
}
