h2[mat-dialog-title] {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;

  color: var(--dark-grey);
}

div[mat-dialog-content] {
  text-align: center;
}

div[mat-dialog-actions] {
  display: flex;
  justify-content: center;
}

button[mat-button] {
  padding: 10px 20px;
  margin: 0 10px;

  border-radius: 20px;
  border: none;

  background-color: var(--medium-blue);
  color: var(--light-text);
}

button[mat-button]:hover {
  background-color: var(--dark-blue);
}
