:root {
  --white: #ffffff;
  --dark-grey: #212529;
  --light-grey: #ced4da;
  --light-text: #fff;
  --medium-blue: #2196f3;
  --dark-blue: #0c7cd5;
  --red: #d76e6e;
  --light-background: #fafafa;
}

* {
  font-family: "Gilroy";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--light-background);
  font-family: "Gilroy";
}
