.mat-table {
  margin: 20px auto; 
  width: calc(100% - 40px); 
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px; 
  overflow: hidden; 
  border: 1px solid #ccc; 
}

.mat-header-cell, .mat-cell {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc; 
}

.mat-cell {
  border-bottom: none;
}

.mat-row:nth-child(even) {
  background-color: #fafafa;
}

.mat-cell.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-icon-button {
  margin: 0 4px;
  padding: 8px; 
}